{{ define "main" }}

<div class="universal-wrapper pt-3">
	<h4>Az oldal nem található</h4>
	<p>Az <i>ökonometriával</i> kapcsolatos anyagok legvalószínűbb lelőhelyei: <a href="/oktatas/okonometria/">Ökonometria</a> vagy <a href="/oktatas/regressziosmodellezes/">Regressziós modellezés</a> vagy <a href="/oktatas/idosorelemzes/">Idősorelemzés</a>.</p>
	<p>Az <i>orvosi megismerés módszertanával</i> kapcsolatos anyagok helye: <a href="/oktatas/azorvosimegismeresmodszertana/">Az orvosi megismerés módszertana (és az orvosi kutatások kritikus értékelése)</a>.</p>
	<p>A <i>kezdő kutatóknak a publikálásról</i> szóló előadás helye: <a href="/oktatas/publikalasrolkezdokutatoknak/">Publikálásról és pár kapcsolódó kérdésről kezdő kutatóknak</a>.</p>
	<p>Egyéb anyagok keresése:</p>	
	<form class="d-flex align-items-center mb-3"><input name=q type=search class=form-control placeholder=Keresés... autocomplete=off></form></div>

{{ end }}